<!DOCTYPE html>
<html dir="ltr">
    <head>
        <link rel="stylesheet" href="style.css">
        <script src=""></script>
        <meta>
        <title>This is my first HTML example with 188</title>
    </head>
    <!--This is my page-->
    <body style="color: rgb(67, 183, 207); font-family: Arial, Helvetica, sans-serif;">
        <h1 id="PageMainHead" class="typeA"><b><i>188</i></b> web course</h1>
        <h3>This is class 2</h3>
        <p class="typeA">Hello this is my first page<br> nneknke</p>
        <h3>Destinations</h3>
        <ol>
            <li>Kiryat Gat</li>
            <li>Jerusalem</li>
            <li>Tel Aviv</li>
        </ol>
        <ul>
            <li>Paris</li>
            <li>London</li>
            <li>Milano</li>
        </ul>
        <br>
        <a href="https://www.snow-forecast.com/resorts/Val-d-Isere/6day/mid" target="_blank">Snow Report</a>
        <br> <br>
        <table style="border: 1px black solid;">
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>email</th>
            </tr>
            <tr>
                <td>1</td>
                <td>Imri</td>
                <td>imril@post.bgu.ac.il</td>
            </tr>
        </table>
        <br>
        <img  width="50%" height="50%" src="../imags/surfing.webp" alt="There is no picture found">
        <br> <br>
        <video  width="50%" height="50%" src="../videos/BeautifulPlaces.mp4" controls></video>
    </body>
</html>